# Dependencies
node_modules/

# Build output
dist/
build/

# Log & cache
*.log
.vite/
coverage/

# Variabel lingkungan (jangan pernah di-commit)
.env*

# Berkas sementara sistem operasi
.DS_Store
Thumbs.db
